.NG-ENTER,
.NG-LEAVE,
.NG-MOVE {
  -WEBKIT-TRANSITION: OPACITY 0.20S LINEAR;
  TRANSITION: OPACITY 0.20S LINEAR;
}
.NG-ENTER {
  OPACITY: 0;
}
.NG-ENTER.NG-ENTER-ACTIVE {
  OPACITY: 1;
  BACKGROUND: LIGHTYELLOW;
}
.NG-LEAVE {
  OPACITY: 1;
}
.NG-LEAVE.NG-LEAVE-ACTIVE {
  OPACITY: 0;
}
